sistema_inovar/sistema_inovar/.env
/.env
sistema_inovar/frontend/.env.local
/.idea
sistema_inovar/sistema_inovar/settings.py
node_modules/
__pycache__/
*.py[cod]
.pytest_cache/
.ruff_cache/
.mypy_cache/
.cache/
.parcel-cache/
